/* Hide descriptions entirely as requested */
.opblock-summary-description,
.opblock-description-wrapper,
.opblock-description {
    display: none !important;
}

.opblock-summary {
    flex-wrap: wrap !important;
}

.opblock-summary-method {
    order: 1;
}

.opblock-summary-path {
    order: 2;
    flex-grow: 1;
}